* {
    font-family: cursive;
    text-align: center;
}

.container { 
    background-color: aqua;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
        'header header header' 
        'menu content content'
        'footer footer footer'
    ;
}

.header {
    background-color: green;
    height: 60px;
    grid-area: header;
}

.menu {
    background-color: orangered;
    grid-area: menu;
}

.content {
    background-color: greenyellow;
    grid-area: content;
}

.footer {
    background-color: cadetblue;
    grid-area: footer;
}