* {
    font-family: cursive;
    text-align: center;
}

.container { 
    background-color: aqua;
    max-width: 800px;
    margin: 0 auto;
}

.header {
    background-color: green;
    height: 60px;
}

.wrapper {
    background-color: orange;
}

.menu {
    background-color: orangered;
    width: 30%;
    float: left;
}

.content {
    background-color: greenyellow;
    width: 70%;
    float: left;
}

.footer {
    background-color: cadetblue;
    clear: left;
}