* {
    font-family: cursive;
    text-align: center;
}

.container { 
    background-color: aqua;
    max-width: 800px;
    margin: 0 auto;
}

.header {
    background-color: green;
    height: 60px;
}

.wrapper {
    background-color: orange;
    /*flex-direction: row-reverse; Cambiar orden de la fila */
    display: flex;
}

.menu {
    background-color: orangered;
    width: 30%;
}

.content {
    background-color: greenyellow;
    width: 70%;
}

.footer {
    background-color: cadetblue;
}